@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600&family=Outfit:wght@100..900&family=Urbanist:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Wix Madefor Text", "MiSans", sans-serif;
  outline: none;
}

*:focus {
  outline: none;
}

.flex-center {
  @apply items-center justify-center;
}

[data-rmiz],
[data-rmiz-content] {
  @apply w-full h-full;
}

div[data-rmiz-modal-overlay] {
  @apply bg-black/80;
}
